

body, html {
    font-family: Polar-light;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
}


@font-face {
    font-family: 'Inter-display-bold';
    src: url('../assets/fonts/InterDisplay-Bold.woff') format('woff');
  }

@font-face {
    font-family: 'Inter-display-medium';
    src: url('../assets/fonts/InterDisplay-Medium.ttf') format('TrueType');
}

@font-face {
    font-family: 'Polar-light';
    src: url('../assets/fonts/FTPolarTrial-Light.otf') format('OpenType');
}
  

h1{
    font-family: Inter-display-bold;
    font-size: 4rem;
}


/* NAVBAR */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    
}

.navbar-left{
    display: flex;
    align-items: center;
}

.logo{
    width: 40px;
    right: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.navbar-right{
    display: flex;
    gap: 20px;
    list-style: none;
}

.links {
    text-decoration: none;
    color: white;
    font-family: Inter-display-bold;
}

.navbar-right .links:hover{
    color: #F080B1;
}

.title-web{
    font-size: 1.5rem;
    font-family: Inter-display-bold;
    color: #ffffff;
}

.title-web:hover{
    color: #F080B1;
}



/* INTRODUCTION */

.content{
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction {
    height: 100vh; 
    background-image: url('/src/assets/img/Background-general.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}

@media (max-width: 768px) {
    .introduction {
        padding: 0; 
        height: auto;
    }
}

.projects {
    height: 100vh; 
    background-image: url('/src/assets/img/Background-projects.png');
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .projects {
        height: auto;
        min-height: 80vh; /* Para que al menos ocupe una parte de la pantalla */
        padding: 20px 0; /* Agregamos espacio */
    }
}



.title-projects, .title-experience{
    font-family: Inter-display-medium;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
}

.link-project{
    color: white;
}

.link-project:hover{
    color: rgb(112, 111, 111);
}

.intro-content, .intro-image {
    flex: 1;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.intro-content {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
    text-align: left;
    padding: 0px 40px; 
    margin-left: 30px;
}



@media (max-width: 768px) {
    .introduction {
        flex-direction: column-reverse; 
        text-align: center;
    }

    .content, .projects{
        flex-direction: column;
        height: auto;
    }
    
    .intro-content {
        align-items: center;
        margin-left: 0;
        padding: 20px;
    }


}

@media (max-width: 480px) {
    
    .intro-content {
        padding: 10px;
    }
}

.subtitle{
    font-family: Inter-display-medium;
    color: #fff;
    font-size: 1.7rem;
}


.intro-details{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.intro-details h2, .projects h2, .experience h2{
    font-family: Inter-display-bold;
    font-size: 4.7rem;
    color: #fff;
}

@media (max-width: 768px) {
    .intro-details h2, .projects h2, .experience h2 {
        font-size: 3.5rem;
        text-align: center;
    }
}


.intro-details p{
    font-family: Polar-light;
    font-size: 1.2rem;
    padding: 20px 50px 20px 0px;
    
}

@media (max-width: 1024px) {
    .intro-details p {
        font-size: 1rem;
        padding: 15px 40px 15px 0px;
    }
}

.intro-details .gradient-title{
    background-image: linear-gradient(to right, #A695A0, #F080B1, #C6489C, #C36022);
    -webkit-background-clip: text;
    color: transparent;
}

.images-icons{
    width: 30px;
    height: auto;
}
.group-tools{
    width: 60px;
    height: 60px;
    background-color: rgba(99, 95, 95, 30%);
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-sections{
    text-align: center;
    font-size: 2.5rem;
    font-family: Inter-display-bold;
}

@media (max-width: 768px) {
    .title-sections {
        font-size: 2rem;
    }
}


@media (max-width: 480px) {
    .title-sections {
        font-size: 2rem;
        margin-top: 40px;
    }
}

.degradient{
    background: linear-gradient(90deg, #C6489C, #C36022);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.section-bg{
    background-color: #0D0A0A;
}

.text-paragraph{
    font-family: Polar-light;
    color: #a3a3a3;
    
}

.number{
   color: #C6489C;
   font-family: Inter-display-bold;
   font-size: 2rem;
}

.title-three{
    color: #ffffff;
    font-family: Inter-display-bold;
    font-size: 2rem;
    text-align: center;
}

@media (max-width: 768px) {
    .title-three {
        font-size: 1.6rem;
    }
}


@media (max-width: 480px) {
    .title-three {
        font-size: 1.4rem;
    }
}

.title-four{
    color: #ffffff;
    font-family: Inter-display-bold;
    font-size: 1rem;
    text-align: center;
}

.bg-gradient {
    background-color: hsla(0, 0%, 0%, 1);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1823 1823' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"), radial-gradient(circle at 89% 86%, hsla(23.105590062111805, 70%, 44%, 0.09) 3.5419327141440644%, transparent 86.60640420591575%), radial-gradient(circle at 55% 88%, hsla(0, 44%, 38%, 1) 19%, transparent 86.73008439094286%), radial-gradient(circle at 64% 73%, hsla(0, 0%, 10%, 0.57) 3.5419327141440644%, transparent 60.78034528031442%), radial-gradient(circle at 48% 34%, hsla(37.42857142857184, 78%, 50%, 0.73) 18%, transparent 52%), radial-gradient(circle at 5% 94%, hsla(0, 2%, 2%, 0.41) 7.316071150124744%, transparent 46.1130789656234%);
    background-blend-mode: overlay, normal, overlay, normal, hue, normal;
}


.swiper-button-prev, .swiper-button-next{
    color: #ffffff !important;
}

.text-container {
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.text-container h1 {
    font-size: 4rem; 
    font-weight: bold;
}


.highlight-orange {
    color: #C36022;
}

.highlight-pink {
    color: #C6489C;
}

.highlight-lightpink {
    color: #F080B1;
}


@media (max-width: 768px) {
    .text-container h1 {
        font-size: 2rem;
    }
}


@media (max-width: 480px) {
    .text-container h1 {
        font-size: 1.8rem;
    }
}